* {
  margin: 0;
}

.sidebar {
  position: fixed;
  transition: all .5s;
  z-index: 2;
  transform: translateX(-30rem);
  width: 20rem;
  background-color: rgb(255, 255, 255) ;
  height: 100%;
}

.sidebar.open{
  transform: translateX(0);
}

.close-sidebar {
  position: absolute;
  right: 1rem;
  top: .5rem;
  font-weight: bold;
}