.details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 1rem;
}

.details-image {
    flex: 2 1 40rem;
}

.details-image img{
    max-width: 40rem;
    widows: 100%;
}

.details-info {
    flex: 1 1 20rem;
}

.details-action {
    flex: 1 1 20rem;
}

.details-info ul, .details-action ul{
    list-style-type: none;
    padding: 0;
}

.details-info li, .details-action li{
    margin-bottom: 1rem;
}

.back-to-result {
    padding: 1rem;
}

.details-action{
    border: .1rem #808080 solid;
    border-radius: 0.5rem;
    background-color: #f8f8f8;
    padding: 1rem;

}

.details-action ul li:last-child{
    display: flex;
    flex-direction: column;
}

.productlist-button{
    padding: 1rem;
    border: .1rem #808080 solid;
    border-radius: .2rem;
    cursor: pointer;
    background-color: orange;

}