.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;

    background-color: white;
    z-index: 1;
}

.product__image {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product:hover {
  transform: translate3d(0, -5px, 0);
  box-shadow: 0 2rem 5rem 0 rgba(0,0,0,.1);
}

/* .product__image {
  height: 300px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.product > button {
   background: #f0c14b;
   border: 1px solid;
   border-color: #a88734 #9c7e31 #846a29;
   color: #111;
   border-radius: 2px;
}

.product > button:hover {
    background: #f0ad05;
    cursor: pointer;
}

.product__info {
  height: 100px;
  margin-bottom: 15px;
}

.product__info__link {
  text-decoration: none;
  color: #111;
}

.product__price {
  margin-top: 5px;
}

.product__rating {
    display: flex;
}
